@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Album Online</h1>
    <p class="lead">Aplicación Web con Servicios</p>
    <p><a href="~/AlbumOnlineWS.asmx" class="btn btn-primary btn-lg">Servicios SOAP &raquo;</a></p>
</div>
